.rde-editor {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
}
.rde-editor-items {
  position: relative;
  width: 128px;
  -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0 5px -5px rgba(56, 41, 41, 0.5);
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 900;
  transition: width 0.5s ease;
  background: #fff;
}
.rde-editor-items:hover .rde-track-vertical {
  opacity: 1;
  z-index: 9999;
}
.rde-editor-items.minimize {
  width: 47px;
}
.rde-editor-items .ant-collapse-content-box {
  padding: 0;
}
.rde-editor-items-item {
  display: flex;
  height: 40px;
  align-items: center;
  transition: 0.5s ease;
  border: 0 solid transparent;
  position: relative;
  cursor: pointer;
}
.rde-editor-items-item-icon {
  padding: 0 8px;
  padding-left: 26px;
  font-size: 1.5em;
  width: 40px;
  display: flex;
  justify-content: center;
}
.rde-editor-items-item-text {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
}
.rde-editor-items-item:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.rde-editor-items-item:not(:last-child):after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: '';
}
.rde-editor-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.rde-editor-canvas .rde-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rde-editor-canvas .rde-canvas iframe {
  pointer-events: none;
}
.rde-editor-toolbar-debug {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  top: 30px;
  left: 40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-toolbar-interaction {
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-toolbar-zoom {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-properties {
  position: absolute;
  overflow-y: auto;
  width: 400px;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-properties:hover .rde-track-vertical {
  opacity: 1;
  z-index: 9999;
}
.rde-editor-configurations {
  position: relative;
  overflow-y: auto;
  width: 200px;
  right: 0;
  -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: width 0.5s ease;
}
.rde-editor-configurations.minimize {
  width: 60px;
}
.rde-editor-configurations .ant-tabs .ant-tabs-content {
  padding-right: 0;
  height: 100%;
}
.rde-editor-configurations .ant-tabs .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
}
.rde-editor-configurations .ant-list-item .ant-list-item-meta .ant-list-item-meta-content h4 {
  font-size: 16px;
  margin: 0;
}
.rde-editor-configurations .ant-list-item .ant-list-item-meta .ant-list-item-meta-content .ant-list-item-meta-description {
  font-size: 11px;
}
.rde-editor-configurations .ant-table .ant-table-content table {
  border: 0;
  background: transparent;
}
.rde-editor-configurations .ant-table .ant-table-content table tr.selected-item {
  background: rgba(0, 0, 0, 0.25);
}
.rde-editor-configurations .ant-table .ant-table-content table tr:hover td {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
}
.rde-editor-configurations .ant-table .ant-table-content .ant-table-placeholder {
  background: transparent;
  border-bottom: 0;
}
.rde-editor-configurations:hover .rde-track-vertical {
  opacity: 1;
  z-index: 9999;
}
.rde-editor-configurations-console-item {
  background-color: inherit;
  padding: 4px 0 0 0;
  animation: slide-up 0.4s ease-in-out;
}
.rde-editor-configurations-console-item-content {
  position: relative;
  max-height: 0;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
}
.rde-editor-configurations-console-item-content.selected-item {
  max-height: 1000px;
}
.rde-editor-configurations-console-item-content .clipboard {
  position: absolute;
  top: 20px;
  right: 20px;
}
.rde-editor-configurations-console-item-content .popup {
  position: absolute;
  top: 20px;
  right: 50px;
}
.rde-editor-configurations-console-item.selected-item {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.rde-editor-configurations-console-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.imageChooser {
  position: absolute;
  left: 128px;
  height: 100px;
  width: 100px;
  z-index: 900;
  width: 307px;
  height: 480px;
  background-color: #fff;
}
.imageChooser__title {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.imageChooser__title button {
  padding: 0;
  background: unset;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  border: 1px solid #fff;
  padding: 4px 5px 2px 6px;
}
.imageChooser__title button:hover {
  border-color: lightgray;
}
.imageChooser__content {
  background: #fff;
}
.imageChooser__content .infinite-scroll-component {
  height: 480px;
  overflow: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.imageChooser__item {
  width: 120px;
  max-height: 150px;
  margin-bottom: 15px;
  cursor: pointer;
}
.imageChooser .ant-input {
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 15px;
}
#themeBuilder {
  height: 100%;
}
.rde-editor-items-item-icon img {
  min-width: 20px;
}
div.rde-canvas-list-item-actions button {
  width: auto;
}
div.rde-canvas-list-item-actions button img {
  transition: 0.3s;
  padding: 3px 4px;
}
div.rde-canvas-list-item-actions button img:hover {
  border-radius: 100px;
  background: #0000001a;
}
.rde-canvas-list-item:last-of-type .rightPanelLayer {
  border-bottom: 1px solid #aaaaaa;
}
.rightPanelLayer {
  transition: 0.2s;
  height: 27px;
  padding: 0 20px;
  border: 1px solid #aaaaaa;
  border-bottom: unset;
}
.rightPanelLayer:hover {
  background-color: #f1f1f1;
}
.rightPanelLockedItem {
  position: relative;
}
.rightPanelLockedItem > * {
  opacity: 0.2;
}
.rightPanelLockedItem::after {
  content: '';
  width: 20px;
  height: 15px;
  top: 6px;
  right: 0;
  position: absolute;
  background-image: url('../../../public/images/icons/lock.svg');
}
.btnOverview {
  background: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.03), 0px 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 140px;
  height: 40px;
  font-size: 16px;
  color: #401d68;
  text-transform: uppercase;
}
.rde-editor-canvas-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.rde-editor-header-toolbar {
  background: rgba(0, 0, 0, 0.05);
  transition: width 0.05s linear;
  display: flex;
  height: 40px;
  z-index: 800;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar:not(:last-child):after {
  background-color: #fff;
  position: absolute;
  right: -5px;
  width: 1px;
  height: 20px;
  content: '';
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar-list:hover .rde-canvas-list {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  z-index: 1;
  -webkit-animation: slide-right 0.3s linear;
  -moz-animation: slide-right 0.3s linear;
  animation: slide-right 0.3s linear;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar-history {
  flex: 1;
  justify-content: flex-end;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar-action {
  flex: 1;
  justify-content: flex-end;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list {
  position: absolute;
  width: 300px;
  height: -webkit-calc(100vh - 140px);
  height: -moz-calc(100vh - 140px);
  height: calc(100vh - 140px);
  top: 40px;
  left: -4px;
  z-index: 0;
  -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-actions {
  border-bottom: 1px solid;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-items {
  overflow-y: auto;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item {
  position: relative;
  margin: 8px 8px;
  text-align: center;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item-icon {
  margin: 0 8px 0 4px;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item-text {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  text-align: left;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item-actions {
  margin: 0 4px 0 8px;
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item.selected-item {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-item::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #fff;
  width: 100%;
  height: 1px;
  content: '';
}
.rde-editor-header-toolbar-container .rde-canvas-toolbar .rde-canvas-list-title {
  font-size: 100px;
}
.rde-editor-footer-toolbar {
  position: relative;
}
.rde-editor-footer-toolbar-interaction {
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-footer-toolbar-zoom {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.rde-editor-footer-toolbar-preview {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 35px;
  right: 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
div.rde-canvas-list-item.selected-item {
  background-color: #F1F1F1;
}
.rde-canvas-list-title {
  font-size: 30px;
  text-align: left;
  padding-left: 11px;
}
.rde-canvas-list-title h5 {
  display: inline-block;
  margin-left: 8px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
video {
  left: 0;
  top: 0;
}
.rde-editor-topPanel {
  height: 45px;
  text-align: center;
}
.rde-editor-topPanel span {
  position: relative;
  top: 10px;
}
.rde-main {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.rde-main .rde-title {
  position: absolute;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.rde-main .rde-content {
  height: inherit;
}
.rde-main .rde-preview {
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s linear;
  transform-origin: bottom right;
}
.rde-main .rde-preview.preview {
  width: 100%;
  transform: scale(1);
  background: #fff;
  z-index: 5000;
  top: 0;
  bottom: 0;
}
.rde-main .rde-preview-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}
.rde-content-layout {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #f2f4f8;
}
.rde-content-layout-title {
  width: 100%;
  height: 55px;
  background: #401D68;
  border-bottom: 1px solid #f3f3f3;
  line-height: 38px;
}
.rde-content-layout-title-title {
  justify-content: flex-start;
  margin-left: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.rde-content-layout-title-title div {
  line-height: 35px;
}
.rde-content-layout-title-content {
  margin-left: 60px;
}
.rde-content-layout-title-action {
  margin-right: 12px;
}
.rde-content-layout-main {
  padding: 20px;
}
.rde-content-layout-sider {
  background: #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
.rde-content-layout-sider .ant-tree {
  margin: 5px 0;
}
.rde-content-layout-sider .ant-tree li {
  padding: 0;
}
.rde-content-layout-sider .ant-tree .ant-tag {
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 8px;
  padding: 0 4px;
  opacity: 0.8;
}
.rde-content-layout-sider .ant-tree .ant-badge {
  opacity: 0.8;
  margin-left: 8px;
}
.rde-content-layout .ant-layout {
  background: #f2f4f8;
}
.ant-btn[disabled] {
  background: transparent;
  border-color: transparent;
}
.ant-btn.rde-action-button {
  background: transparent;
  border-color: transparent;
}
.ant-btn.rde-action-button.ant-btn-danger {
  color: #f04134;
}
.ant-btn.rde-action-button.ant-btn-danger:focus {
  color: #f04134;
  background: unset;
  border-color: transparent;
}
.ant-btn.rde-action-button.ant-btn-danger:hover {
  color: #fff;
  background-color: #f46e65;
  border-color: #f46e65;
}
.ant-btn.rde-action-button:focus {
  color: unset;
  background: unset;
  border-color: transparent;
}
.ant-btn.rde-action-button:hover {
  background: rgba(219, 234, 251, 0.85);
  border-color: transparent;
}
.rde-action-btn {
  background: transparent;
  border: transparent;
}
.rde-action-btn button {
  background: transparent !important;
  border-color: transparent !important;
  border: unset;
}
.rde-action-btn:hover {
  background: transparent;
  border: transparent;
}
.rde-action-btn:focus {
  background: transparent;
  border: transparent;
}
.rde-icon-container {
  border-radius: 4px;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}
.rde-icon-container .rde-icon-top {
  transition: 0.5s ease;
  color: inherit;
  background-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.rde-icon-container .rde-icon-top i {
  margin: 8px 0 8px 0;
}
.rde-icon-container .rde-icon-top:hover,
.rde-icon-container .rde-icon-top:focus {
  background-color: #4dabf7;
  color: #fff;
}
.rde-icon-container .rde-icon-bottom {
  transition: 0.5s ease;
  color: #adb5bd;
  font-size: 0.8rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rde-icon-container .rde-icon-bottom:hover,
.rde-icon-container .rde-icon-bottomfoucs {
  background-color: rgba(0, 0, 0, 0.2);
  color: #495057;
}
.rde-action-tag {
  width: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 32px;
  text-align: center;
  padding-top: 4px;
}
.rde-action-tag.ant-tag-checkable {
  border: 1px solid #d9d9d9;
}
.rde-editable-cell {
  padding: 5px 12px;
  cursor: pointer;
}
.rde-editable-cell:hover {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: pointer;
}
.rde-track-vertical {
  right: 0px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  opacity: 0;
}
.rde-shortcut-help {
  display: flex;
  justify-content: space-around;
}
.rde-shortcut-help-list {
  list-style: none;
  margin: 0;
  padding: 0 0 10px;
  width: 350px;
}
.rde-shortcut-help-list li {
  margin-right: 40px;
}
.rde-shortcut-help-key {
  line-height: 1.8;
  margin-right: 2em;
  padding: 5px 0;
}
.rde-shortcut-help-key span {
  background-color: #fefefe;
  background-repeat: repeat-x;
  border: 1px solid #666;
  border-radius: 3px;
  box-shadow: 0 0 5px #7e7e7e;
  color: #3a3a3a;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  text-align: center;
}
.rde-shortcut-help-key-unit {
  bottom: 2px;
  margin-right: 4px;
  min-width: 60px;
  position: relative;
}
.rde-shortcut-help-key-def {
  color: #3a3a3a;
  display: inline-block;
  margin-left: 1em;
}
.rde-editor-wrapper {
  height: 100%;
}
.rde-editor-wrapper .rde-editor {
  height: 100%;
}
